
.header-acount-basket ul{
    float: left;
    width: 280px;
    height: 25px;
    margin-right: 50px;
}

.header-acount-basket li{

    display: inline-block;
    font-size:12px;
    vertical-align:top;
    padding-right: 0;
}

.header-acount-basket p{
    padding:1px 10px;
    display: inline-block;
    color: #07d1bc;
    text-decoration: none;
    vertical-align: top;
    font-size:15px;
}
.header-acount-basket a{
    text-decoration: none;
}