<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Toys Store</title>
    <link href="http://webfonts.ru/import/dited.css"; rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
     
        <link rel="stylesheet" type="text/css" href="css/style2.css" >
		<script type="text/javascript" src="js/modernizr.custom.28468.js"></script>
		<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="center">
    <div class="header">
          
        <div class="header-acount">
            <div class="header-acount-input"> 
                <ul>
	               <li><img src="img/acount.png" width="25" height="25"></li>
                    <li><a href="#"><strong>Вход</strong></a></li>
                    <li><a href=""><strong>Регистрация</strong></a></li>
                </ul>
            </div>
            <div class="header-acount-basket"> 
                <ul>
	               <li><img src="img/basket.png" width="25" height="25"></li>
                   <li><strong>В корзине пока пусто</strong></li>
                </ul>
            </div>
        </div>
        <div class="header-img">
            <img src="img/logo.png" width="110px" height="110px">
        </div>
        <div class="header-text">
            <p><strong>TOYS STORE...</strong></p>
        </div>
    </div>
    <div class="header-menu">
        <ul class="top-menu">
            <li><a href="#"><strong>Каталог</a></li>
            <li><a href="#"><strong>Оплата и доставка</a></li>
            <li><a href="#"><strong>Гарантия</a></li>
            <li><a href="#"><strong>О нас</a></li>   
            <li><a href="#"><strong>Контакты</a></li>   
        </ul>
    </div>
    <div class="slider">
        <div id="da-slider" class="da-slider">
				<div class="da-slide">
					<h2>Сердечное добропожаловать</h2>
					<p>Глядя в постные мор..., пардон, лица продавцов в каких-нибудь бутиках по продаже элитных тачек-телефонов-тряпок, создается впечателение, что ты им обязан. Так и кажется, что сейчас это создание откроет свое отверстие для приема пищи и рявкнет: "Ну а раз обязан, то давай сюда деньги и пшел вон - не машай созерцать вечное и прекрасное!"</p>
					<a href="#" class="da-link">Прочитать всё</a>
					<div class="da-img"><img src="img/1.png" alt="image01" /></div>
				</div>
				<div class="da-slide">
					<h2>Простое управление</h2>
					<p>Нет ничего проще, чем управлять. Сидишь себе в большом кожаном кресле смотришь в огромное окно на бесконечную даль. Смазливая секретарша старательно делает тебе ... кофе. А на все впоросы подчиненных бросаешь классическое "Не потерплю!". И все вертится само собой.</p>
					<a href="#" class="da-link">Прочитать всё</a>
					<div class="da-img"><img src="img/2.png" alt="image01" /></div>
				</div>
				<div class="da-slide">
					<h2>Революция</h2>
					<p>Когда нудный проиводственный процесс проедает плешь до печенок, нужно просто устроить революцию. Заказчик будет гневно требовать исполнения сроков, а в ответ получает "А у нас революция! Вообще все может полететь к чертям!". Справедливый гнев заказчика тут же сменится тупым обалдением от постановки ответа на вопрос.</p>
					<a href="#" class="da-link">Прочитать всё</a>
					<div class="da-img"><img src="img/3.png" alt="image01" /></div>
				</div>
				<div class="da-slide">
					<h2>Контроль качества</h2>
					<p>Качество можно конролировать как угодно и где угодно. Особенно хорош контроль качества на входе, ибо отсекает тонны г... , пардон, некачественного сырья для вашего замечательного продукта. Ну и на выходе надо качество контролировать - интерсно знать, на что будут жаловаться потребители.</p>
					<a href="#" class="da-link">Прочитать всё</a>
					<div class="da-img"><img src="img/4.png" alt="image01" /></div>
				</div>
				<nav class="da-arrows">
					<span class="da-arrows-prev"></span>
					<span class="da-arrows-next"></span>
				</nav>
			</div>
        </div>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script type="text/javascript" src="js/jquery.cslider.js"></script>
		<script type="text/javascript">
			$(function() {
			
				$('#da-slider').cslider({
					autoplay	: true,
					bgincrement	: 450
				});
			
			});
		</script>	
    
    <div class="top">
        <H2> ---ЛИДЕРЫ-ПРОДАЖ---</H2>
    </div>    
    <div class="popylar">
        <ul>
        <li><div class="popylar-box">
            <div class="tovar">
                <img src="img/4023706-01.jpg" width="170px">
            </div>
            <div class="tovar-price">
                <p>CANON PowerShot IS</p>
                <p>5560 р</p>
            </div>
            <div class="tovar-buttom">
                <input type="button" value="В  корзину!">
            </div>
        </div>  
            </li>
             <li><div class="popylar-box">
            <div class="tovar">
                <img src="img/4023706-01.jpg" width="170px">
            </div>
            <div class="tovar-price">
                <p>CANON PowerShot IS</p>
                <p>5560 р</p>
            </div>
            <div class="tovar-buttom">
                <input type="button" value="В  корзину!">
            </div>
        </div>  
        </li>
              <li><div class="popylar-box">
            <div class="tovar">
                <img src="img/4023706-01.jpg" width="170px">
            </div>
            <div class="tovar-price">
                <p>CANON PowerShot IS</p>
                <p>5560 р</p>
            </div>
            <div class="tovar-buttom">
                <input type="button" value="В  корзину!">
            </div>
        </div>  
            </li>
             <li><div class="popylar-box">
            <div class="tovar">
                <img src="img/4023706-01.jpg" width="170px">
            </div>
            <div class="tovar-price">
                <p>CANON PowerShot IS</p>
                <p>5560 р</p>
            </div>
            <div class="tovar-buttom">
                <input type="button" value="В  корзину!">
            </div>
        </div>  
        </li>
        </ul>
    
        <ul>
        <li><div class="popylar-box">
            <div class="tovar">
                <img src="img/4023706-01.jpg" width="170px">
            </div>
            <div class="tovar-price">
                <p>CANON PowerShot IS</p>
                <p>5560 р</p>
            </div>
            <div class="tovar-buttom">
                <input type="button" value="В  корзину!">
            </div>
        </div>  
            </li>
             <li><div class="popylar-box">
            <div class="tovar">
                <img src="img/4023706-01.jpg" width="170px">
            </div>
            <div class="tovar-price">
                <p>CANON PowerShot IS</p>
                <p>5560 р</p>
            </div>
            <div class="tovar-buttom">
                <input type="button" value="В  корзину!">
            </div>
        </div>  
        </li>
              <li><div class="popylar-box">
            <div class="tovar">
                <img src="img/4023706-01.jpg" width="170px">
            </div>
            <div class="tovar-price">
                <p>CANON PowerShot IS</p>
                <p>5560 р</p>
            </div>
            <div class="tovar-buttom">
                <input type="button" value="В  корзину!">
            </div>
        </div>  
            </li>
             <li><div class="popylar-box">
            <div class="tovar">
                <img src="img/4023706-01.jpg" width="170px">
            </div>
            <div class="tovar-price">
                <p>CANON PowerShot IS</p>
                <p>5560 р</p>
            </div>
            <div class="tovar-buttom">
                <input type="button" value="В  корзину!">
            </div>
        </div>  
        </li>
        </ul>
    </div>
    <div class="footer">
     <ul class="bottom-menu">
            <li><a href="#"><strong>Каталог</a></li>
            <li><a href="#"><strong>Оплата и доставка</a></li>
            <li><a href="#"><strong>Гарантия</a></li>
            <li><a href="#"><strong>О нас</a></li>   
            <li><a href="#"><strong>Контакты</a></li>   
        </ul>
    </div>
</div>
</body>
</html>
